<div class='item'>
	<p>{{id}}</p>
	<ul>
		<li>Name &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; {{name}}</li>
		<li>Price &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; {{price}}</li>
		<li>Inventory &emsp;&emsp;&emsp; {{inventory}}</li>
	</ul>
</div>
<script>
	
</script>