<header>
	{{#if atIndex}}
		<h1>Index</h1>
	{{/if}}
	{{#if allProducts}}
		<h1>All Products</h1>
	{{/if}}
	{{#if oneProduct}}
		<h1>Product</h1>
	{{/if}}
	{{#if newProduct}}
		<h1>New Product</h1>
	{{/if}}
	{{#if editProduct}}
		<h1>Edit Product</h1>
	{{/if}}
	{{#if allArticles}}
		<h1>All Articles</h1>
	{{/if}}
	{{#if oneArticle}}
		<h1>Article</h1>
	{{/if}}
	{{#if newArticle}}
		<h1>New Article</h1>
	{{/if}}
	{{#if editArticle}}
		<h1>Edit Article</h1>
	{{/if}}
</header>