<header>
	{{#if atIndex}}
		<h1>Index</h1>
	{{/if}}
	{{#if allProducts}}
		<h1>All Products</h1>
	{{/if}}
	{{#if oneProduct}}
		<h1>Product</h1>
	{{/if}}
	{{#if editProduct}}
		<h1>Edit Product</h1>
	{{/if}}
</header>