<div class='item' id='editForm'>
	{{!-- <p class='name'></p> --}}
	<ul class='details'>
		<form action="/products" method='POST' id='form'>
			<table>
				{{#if err}}
				<tr>
					<td style='color: red;'>Error:</td>
					<td class='detail-data' style='color: red; border-width: 0;'>Price must be a number</td>
				</tr>
				{{/if}}
				<tr>
					<td>Name</td>
					<td class='detail-data'><input type='text' name='name'></td>
				</tr>
				<tr>
					<td>Price</td>
					<td class='detail-data'><input type='text' name='price'></td>
				</tr>
				<tr>
					<td>Inventory</td>
					<td class='detail-data'><input type='text' name='inventory'></td>
				</tr>
			</table>
		</form>
	</ul>
</div>
<script>
	let rightPath = window.location.pathname.split('/')[2].substr(0, 3) === "new";
	console.log(window.location.pathname.split('/')[2].substr(0, 3));
	if(rightPath) {
		let form = document.getElementById('form');
		toSaveProduct.addEventListener('click', () => {
			form.submit();
		});
	}else{
		document.getElementById('editForm').style.display = 'none';
	}
</script>