<div class='item'>
	<p class='name'>{{name}}</p>
	<ul>
		<li>ID &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; {{id}}</li>
		<li>Price &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; {{price}}</li>
		<li>Inventory &emsp;&emsp;&emsp; {{inventory}}</li>
	</ul>
</div>