<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Products and Articles</title>
    <style>
    	* {
    		box-sizing: border-box;
    		left: 0; right: 0; top: 0; bottom: 0;
    		padding: 0; margin: 0;
    		text-decoration: none;
    	}
    	html {
    		color: black;
    		font-size: 25px;
    		font-family: sans-serif;
    		background-color: #67727A;
    	}
    	h1 {
    		font-size: 3rem;
    	}
    	header {
    		color: #F5F5F5;
    		width: 100%;
    		padding: 2rem;
    		background-color: #D75C37;
    	}
    	.item-container {
    		margin: 1.5rem;
    		margin-bottom: 2.5rem;
    	}
    	.item {
    		margin: 1rem;
    		margin-top: 2.5rem;
    		padding: 1.5rem;
            padding-bottom: 2rem;
    		background-color: #F5F5F5;
    	}
    	.item p {
    		margin-top: 1rem;
    	}
        .clickableItem:hover {
            background-color: #DDDDDD;
        }
        .clickableItem:active {
            background-color: black;
            color: white;
        }
    	.index-menu {
			cursor: pointer;
            padding-top: 2.5rem;
            width: calc(50% - 2rem - 4px);
            display: inline-block;
            background-color: #1C1C1C;
            color: #F5F5F5;
    	}
        .index-menu:hover {
            background-color: black;
        }
        .red {
            background-color: #8A1E1E;
        }
        .green {
            background-color: #0C5212;
        }
        .red:hover {
            background-color: #611515;
        }
        .green:hover {
            background-color: #08330B;
        }
        .index-menu:active, .red:active, .green:active {
            background-color: #F5F5F5 !important;
            color: black !important;
        }
    	.name {
    		font-size: 2rem;
    	}
    	ul {
    		list-style-type: none;
    		margin: 1rem;
    	}
    	li {
    		margin: 0.5rem;
    	}
    </style>
  </head>
  <body>
  	{{> header}}
    {{{body}}}
  </body>
</html>