<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Products and Articles</title>
    <style>
    	* {
    		box-sizing: border-box;
    		left: 0; right: 0; top: 0; bottom: 0;
    		padding: 0; margin: 0;
    		text-decoration: none;
    	}
        html {
            color: black;
            font-size: 23px;
            font-family: sans-serif;
            background-color: #67727A;
        }
        body {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
    	h1 {
    		font-size: 3rem;
    	}
    	header {
    		color: #F5F5F5;
    		width: 100%;
    		padding: 2rem;
    		background: linear-gradient(90deg, #D75C37, #FF3000);
    	}
        #posts {
            width: 100%;
        }
    	.item-container {
    		margin: 1.5rem;
    		margin-bottom: 2.5rem;
            width: 100%;
    	}
    	.item {
            display: table;
            width: calc(100% - 2rem);
    		margin: 1rem;
    		margin-top: 2.5rem;
    		padding: 1.5rem;
            padding-bottom: 2rem;
    		background-color: #F5F5F5;
    	}
    	.item p {
    		margin-top: 1rem;
    	}
        #edit-form {
            padding-bottom: 1rem;
        }
        .clickableItem:hover {
            background-color: #DDDDDD;
        }
        .clickableItem:active {
            background-color: black;
            color: white;
        }
    	.index-menu {
			cursor: pointer;
            padding-top: 2.5rem;
            padding-right: 2rem;
            width: calc(50% - 2rem - 4px);
            display: inline-block;
            background: linear-gradient(90deg, #1C1C1C, black);
            color: #F5F5F5;
            text-align: center;
    	}
        .index-menu:hover {
            background: linear-gradient(90deg, black, black);
        }
        .red {
            background: linear-gradient(90deg, #8A1E1E, #611515);
        }
        .green {
            background: linear-gradient(90deg, #0C5212, #08330B);
        }
        .red:hover {
            background: linear-gradient(90deg, #611515, #611515);
        }
        .green:hover {
            background: linear-gradient(90deg, #08330B, #08330B);
        }
        .index-menu:active, .red:active, .green:active {
            background: linear-gradient(90deg, white, white) !important;
            color: black !important;
        }
    	.name {
    		font-size: 2rem;
            word-wrap: break-word;
    	}
    	ul {
    		list-style-type: none;
    		margin: 1rem;
    	}
        table {
            width: 100%;
        }
        tr {
            width: 100%;
        }
    	td {
            display: inline-block;
    		margin: 0.5rem;
            width: 5rem;
            word-wrap: break-word;
    	}
        .detail-data {
            width: calc(100% - 7rem);
            border-width: 0;
            border-bottom-width: 0.1rem;
            border-style: dashed;
            font-size: 0.9rem;
        }
        input {
            height: 1.5rem;
            width: 100%;
            font-size: 0.9rem;
        }
        #delete-row {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
        }
        #delete {
            color: #F5F5F5;
            padding: 0.5rem;
            background-color: #8A1E1E;
            cursor: pointer;
        }
        @media screen and (max-width: 700px) {
            html {
                font-size: 15px;
            }
        }
        @media screen and (min-width: 1065px) {
            .index-menu {
                width: 10rem !important;
            }
            .item-container {
                height: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
            }
            .index-menu {
                display: block;
            }            
            #posts {
                flex: 1;
                width: 25rem;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                height: auto;
            }
            .item {
                width: 25rem;
            }
        }
    </style>
  </head>
  <body>
  	{{> header}}
    {{{body}}}
  </body>
</html>