{{#if atIndex}}
<div class='item-container'>
	<div id='menu'>
		<div class='item index-menu' id='to-products'>
			<h2 click='window.location = \'/location\';'>Products</h2>
		</div>
		<div class='item index-menu' id='to-articles'>
			<h2 click='window.location = \'/articles\';'>Articles</h2>
		</div>
		<script>
			document.getElementById('to-products').addEventListener('click', () => {
				window.location = '/products';
			});
			document.getElementById('to-articles').addEventListener('click', () => {
				window.location = '/articles';
			});
		</script>
	</div>
</div>
{{/if}}