{{#if allProducts}}
	<div class='item-container'>
		<div class='item index-menu' id='to-index'>
			<h2>Index</h2>
		</div>
		<script>
			document.getElementById('to-index').addEventListener('click', () => {
				window.location = '/';
			});
		</script>
		{{#each product}}
			{{> product}}
		{{/each}}
	</div>
{{/if}}
{{#if oneProduct}}
	<div class='item-container'>
		{{#with product}}
			{{> product}}
		{{/with}}
	</div>
{{/if}}
